<!DOCTYPE html>

<html>

<head>

<title>Murli Files</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>


<h1>Murli Files</h1>

<button onclick="loadFiles()">
    Load Files
</button>

<p id="count"></p>

<div class="container">

    <div class="left-panel">

        <ul id="fileList"></ul>

    </div>

    <div class="right-panel">

        <h3 id="fileTitle">
            Select a file
        </h3>

        <div id="content">

            File content will appear here...

        </div>

    </div>

</div>

<script
    src="{{ url_for('static', filename='app.js') }}"
></script>


</body>

</html>
